.store-header {
    background-color: #f1f5f9;
    padding: 1.5rem 2rem;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    margin: 0.1rem auto;
    margin-bottom: 1rem;
    max-width: 800px;
    font-family: sans-serif;
    text-align: left;
}

    .store-header h2 {
        margin: 0 0 1rem 0;
        color: #2b6cb0;
        font-size: 1.8rem;
    }

.store-address p {
    margin: 0.2rem 0;
    font-size: 1rem;
    color: #444;
}


.search-container {
    position: relative; /* Establishes a positioning context for the `.search-icon` to align itself within this container */
    margin-bottom: 25px; /*SPace between searchbar and our table data*/
}

.search-icon {
    position: absolute; /* Positions the icon relative to the nearest positioned ancestor (the `search-container`) */
    top: 50%; /* Moves the icon halfway down the height of the `search-container` */
    left: 8px; /* Positions the icon 8px from the left edge of the `search-container` */
    transform: translateY(-50%); /* Vertically centers the icon by shifting it up*/
    font-size: 16px; /* Sets the size of the icon */
    color: #f1f5f9; /* Change the color of the icon */
}

.search-bar {
    width: 100%;
    border-radius: 7px;
    border-right-style: none;
    border-left-style: none;
    border: none;
    border-block-color: #f1f5f9;
    background-color: #f1f5f9;
    padding: 8px;
    padding-left: 30px;
}

    .search-bar:focus {
        background-color: white; /* Background changes to white, makes it clearer that it's in focus*/
        outline: none; /*Needed for box-shadow*/
        box-shadow: 0px 0px 7px black; /* Subtle black glow - [horizontal-offset] [vertical-offset] [blur-radius] */
    }

.store-clearances {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.product-button {
    width: 100%;
    border: none;
    background-color: white;
    padding: 1rem;
    margin: 0.5rem 0;
    text-align: left;
    border-radius: 12px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

    .product-button:hover {
        transform: scale(1.02);
    }

.product-offer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-info {
    display: flex;
    flex-direction: column;
}

.product-title {
    font-size: 1.1rem;
    color: #333;
    margin-bottom: 0.3rem;
}

.new-price {
    font-size: 1.5rem;
    color: #38a169; /* grøn farve */
    font-weight: bold;
    margin: 0.2rem 0;
}

.original-price {
    color: #999;
    font-size: 0.95rem;
}

.discount-amount {
    font-size: 0.9rem;
    color: #e53e3e; /* rød farve */
}

.product-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid #ddd;
}

