<div class="top-row">
	<a href="/" class="navbar-icon position-absolute start-1">Salling Group</a>

	<nav class="top-nav-bar mx-auto">
		@* mx-auto sørger for at alle elementer er i midten af siden*@
		<ul>
			<li><a href="/">Forside</a></li>
			<li><a href="/">Butikker</a></li>
			<li><a href="/products">Produkter</a></li>
		</ul>
	</nav>
</div>