<header class="top-navbar">
    <div class="navbar-content">
        <a href="/" class="navbar-logo">
            <img src="logo.png" alt="Salling Group Logo" class="logo-image" />
        </a>


        <nav class="navbar-menu">
            <ul>
                <li><a href="/stores">Butikker</a></li>
                <li><a href="/products">Produkter</a></li>
            </ul>
        </nav>
    </div>
</header>
